{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Descadastrar intinerario{% endblock %}</h1>
    <div id="box">

        <div id="boxshowout">
            <div id="boxshowin">
        
                <form method="post">
                    <p>
                        <label for="placa">Placa</label>
                        <select name="placadel" required>
        
                            <table id="tabela">
                                <tr>
                                    <th>Placa</th>
                                </tr>
                                {% for placa in placa %}
                                <tr>
                                    <option value={{placa[0]}}></option>
                                </tr>
                                {% endfor %}
                            </table>
                        </select>
                    </p>
                    
                    <p>
                        <button type="submit">Submit</button>
                    </p>
                    
                </form>
                
             
            </div> 
        </div>    
    </div>
{% endblock %}