{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Cadastrar linha{% endblock %}</h1>
    
    
    <div id="box">
        <div id="boxshowout">
            <div id="boxshowin">

                <form method="post">
                    <p>
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" placeholder="Nome" required>
                        </input>
                    </p>

                    <p>
                        <label for="lcodigo">Código da linha</label>
                        <input name="lcodigo" type="text" required placeholder="123456">
                        </input>
                    </p>

                    <p>
                        <label for="destino">Destino</label>
                        <input name="destino"  type="text" required placeholder="abcdefgh">
                        </input>
                    </p>

                    <p>
                        <label for="saida">saida</label>
                        <input name="saida"  type="text" required placeholder="abcdefgh">
                        </input>
                    </p>

                    
                    <p>
                        <button type="submit">Submit</button>
                    </p>
                            
                </form>
             
            </div> 
        </div>    
    </div>
{% endblock %}