{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Descadastrar ponto{% endblock %}</h1>
    
    
    <div id="box">
        <div id="boxshowout">
            <div id="boxshowin">
                <table id="table">
                    
                    <h3>Escolha o ponto a ser descadastrado:</h3>
                </table>
                <form method="post">
                    <p>
                        <label for="ponto">Ponto</label>
                        <select name="pcodigo" required>
        
                            <table id="tabelabusplaca">
                                <tr>
                                    <th>Ponto</th>
                                </tr>
                                {% for ponto in ponto %}
                                <tr>
                                    <option value={{ponto[0]}}></tr>| Codigo: <th >{{ ponto[0] }} </th>
                                        | Bairro: <th >{{ ponto[2] }} </th>
                                        | Rua: <th >{{ ponto[1] }} </th>
                                        | Numero:<th >{{ ponto[3] }} </th>
                                    </option>
                                </tr>
                                {% endfor %}
                            </table>
                        </select>
                    </p>
                    
                    <p>
                        <button type="submit">Submit</button>
                    </p>
                    
                </form>
                
             
            </div> 
        </div>    
    </div>
{% endblock %}