{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Designar carro{% endblock %}</h1>
    
    
    <div id="box">
        <div id="boxshowout">
            <div id="boxshowin">
            
                
                <form method="post">
                    <p>
                        <label for="cpf">Motorista</label>
                        <select name="cpfdel" required>
        
                            <table>
                                <tr>
                                    <th>CPF</th>
                                </tr>
                                {% for cpf in cpf %}
                                <tr>
                                    <option value={{cpf[0]}}>| CPF: <th>{{ cpf[0] }} </th> | Nome: <th>{{ cpf[1] }} </th> | CNH  <th>{{ cpf[2] }} </th></option>
                                </tr>
                                {% endfor %}
                            </table>
                        </select>
                    </p>
                    <p>
                        <label for="lcodigo">Linha</label>
                        <select name="lcodigo" required>
        
                            <table>
                                <tr>
                                    <th>Linha</th>
                                </tr>
                                {% for lcodigo in lcodigo %}
                                <tr>
                                    <option value={{lcodigo[0]}}>| Linha:<th> {{ lcodigo[0] }} </th> | Nome: <th>{{ lcodigo[1] }} </th></option>
                                </tr>
                                {% endfor %}
                            </table>
                        </select>
                    </p>
                    
                    <p>
                        <button type="submit">Submit</button>
                    </p>
                            
                </form>
             
            </div> 
        </div>    
    </div>
{% endblock %}